# Python bytecode and caches
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
env/
ENV/

# Django local files
*.sqlite3
db.sqlite3
staticfiles/
media/

# Environment files
.env
.env.*
!.env.example

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

#large corpus hold all internet news articles, not suitable for version control if you need it hit https://www.corpusdata.org/now/samples/now-text.zip
corpus/now-text/

# Cache for data processing, not suitable for version control
data_cache/